@model PFE.HOTIX.WEB.Models.ReservationViewModel
@{
    ViewData["Title"] = "Liste des voitures affectées";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        </div>
    </div>
</section>

<div class="card-header">
    <section class="content">
       
        <div class="card card-teal">
            <div class="card-header">
                <h3 class="card-title">Liste des voitures affectées </h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                </div>
            </div>

            <div class="card-body p-0">
                <table id="example1" class="table  table-striped projects">
                    <thead>
                        </br>
                        <tr>

                            <th style="width: 17%">
                                Nom employé
                            </th>

                            <th style="width:17%">
                                Date début
                            </th>

                            <th style="width: 17%">
                                Date fin
                            </th>

                            <th style="width: 17%">
                                Description
                            </th>
                            <th style="width: 7%">
                                État
                            <th> </th>
                            </th>
                        </tr>

                    </thead>


                    <tbody>
                        @foreach (var item in Model.Reservations.Where(r => r.Etat_demande.id_etat_demande == (int)PFE.HOTIX.Entities.Enumeration.EtatDemande.CONFIRMER))
                        {
                            <tr>

                                <td>@item.User.FullName</td>
                                <td>@item.datedebutreservation</td>
                                <td>@item.datefinresevation</td>
                                <td>@item.description_reservation</td>


                                <td>
                                    @{
                                        switch (@item.Etat_demande.id_etat_demande)
                                        {
                                            case (int)PFE.HOTIX.Entities.Enumeration.EtatDemande.CONFIRMER:
                                                <span class="badge bg-success">@item.Etat_demande.etat_name</span>
                                                break;
                                            case (int)PFE.HOTIX.Entities.Enumeration.EtatDemande.ENATTENTE:
                                                <span class="badge bg-primary">@item.Etat_demande.etat_name</span>

                                                break;
                                            case (int)PFE.HOTIX.Entities.Enumeration.EtatDemande.ANNULEE:
                                                <span class="badge bg-warning">@item.Etat_demande.etat_name</span>

                                                break;
                                            case (int)PFE.HOTIX.Entities.Enumeration.EtatDemande.REFUSER:
                                                <span class="badge bg-danger">@item.Etat_demande.etat_name</span>

                                                break;
                                            case (int)PFE.HOTIX.Entities.Enumeration.EtatDemande.ARCHIVER:
                                                <span class="badge bg-warning">@item.Etat_demande.etat_name</span>
                                                break;
                                        }
                                    }
                                </td>


                                <td class="project-actions text-right">


                                    <a class="btn btn-primary btn-sm" href='@Url.Action("ConsulterVoitureAffecter", "DemandeReservation", new {id_reservation = @item.id_reservation })'>
                                        <i class="fas fa-check-circle"></i>

                                        Consulter
                                    </a>



                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</div>

@section Scripts {
    <script>
        $(function () {
            var frenchLanguage = {
                "decimal": "",
                "emptyTable": "Aucune donnée disponible dans le tableau",
                "info": "<div style='text-align: center; margin-right: 450px'>Affichage de _START_ à _END_ sur _TOTAL_ éléments</div>",
                "infoEmpty": "Affichage de 0 à 0 sur 0 éléments",
                "infoFiltered": "(filtrés à partir de _MAX_ éléments au total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Afficher _MENU_ éléments",
                "loadingRecords": "Chargement...",
                "processing": "Traitement...",
                "search": "Rechercher :",
                "zeroRecords": "Aucun élément correspondant trouvé",
                "paginate": {
                    "first": "Premier",
                    "last": "Dernier",
                    "next": "Suivant",
                    "previous": "Précédent"
                },
                "aria": {
                    "sortAscending": ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                },
                "buttons": {

                    "csv": "CSV",
                    "excel": "Excel",
                    "pdf": "PDF",
                    "print": "Imprimer",

                },
                "show": "Afficher"
            };

            $.extend(true, $.fn.dataTable.defaults, {
                language: frenchLanguage

            });

           
            $("#example1").DataTable({
                "responsive": true,
                "lengthChange": true,
                "autoWidth": true,
                "buttons": ["csv", "excel", "pdf", {
                    extend: 'print',
                    text: 'Imprimer',
                    exportOptions: {
                        columns: ':visible'
                    }
                }],

                "drawCallback": function () {
                   
                    var searchContainer = $(this).closest('.dataTables_wrapper').find('.dataTables_filter');
                    var centerOffset = 50; 
                    var lengthContainer = $("#example1_length"); 
                    lengthContainer.css("text-align", "center"); 
                    var buttonsContainer = $(this).closest('.dataTables_wrapper').find('.dt-buttons');


                   
                    var marginValue = "0 " + centerOffset + "px";

                    lengthContainer.css({
                        "text-align": "left",
                        "margin": 10,

                        
                    });

                    searchContainer.css({
                        'margin-left': 'auto',
                        'margin-right': 'auto',
                        'width': 'calc(100% - ' + (centerOffset * 2) + 'px)'



                    });

                }

            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');




        });






    </script>
}

