@model PFE.HOTIX.WEB.Models.ReservationViewModel
@{
	Layout = "_Layout";
}

@{
	ViewData["Title"] = "Localisation Map";
}


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Directions Input Panel - Bing Maps Samples</title>

	<meta charset="utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="Microsoft maps, map, gis, API, SDK, Bing, Bing Maps" />
	<meta name="author" content="Microsoft Bing Maps" />
	<meta name="screenshot" content="bmv8-directionsinputpanelexample.jpg" />
	<style>

	</style>
	<script>
		var map;
		var directionsManager;

		function GetMap() {
			map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
				credentials: 'Aj9rXw-bikDefDeojiqGwyz0iX1Bh_sb7ksHGl2s-7nAcM4PQQDUXpd9--1qlUWv',
				mapTypeId: Microsoft.Maps.MapTypeId.road,
				zoom: 12
			});

			
			var infobox = null;

		
			function addMarker(latitude, longitude, title, description, pid, color) {
				var marker = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(latitude, longitude), { color: color });

				infobox = new Microsoft.Maps.Infobox(marker.getLocation(), {
					visible: false
				});

				marker.metadata = {
					id: pid,
					title: title,
					description: description
				};

				Microsoft.Maps.Events.addHandler(marker, 'mouseout', hideInfobox);
				Microsoft.Maps.Events.addHandler(marker, 'mouseover', showInfobox);

				infobox.setMap(map);
				map.entities.push(marker);
				marker.setOptions({ enableHoverStyle: true });
			};

			function showInfobox(e) {
				if (e.target.metadata) {
					infobox.setOptions({
						location: e.target.getLocation(),
						title: e.target.metadata.title,
						description: e.target.metadata.description,
						visible: true
					});
				}
			}

			function hideInfobox(e) {
				infobox.setOptions({ visible: false });
			}

		
		@if (Model.Localisations != null)
		{
			//@:addMarker(36.851681399805194, 10.210574819032136, 'Title', 'desc', 1, '');
			//@:addMarker(parseFloat(@Model.Localisations[0].Longitude_Localisation.ToString().Replace(',','.')), parseFloat(@Model.Localisations[0].Laititude_Localisation.ToString().Replace(',','.')), 'Title', 'desc', 1, '');
			foreach (var item in Model.Localisations)
			{
				@:addMarker(parseFloat(@item.Longitude_Localisation.ToString().Replace(',','.')), parseFloat(@item.Laititude_Localisation.ToString().Replace(',','.')), "@(@item.Title)", "@(@item.Longitude_Localisation + "," + @item.Laititude_Localisation)", @item.id_localisation, "@(@item.Color)");
			}
		}

				}
	</script>

	<style>
		html, body {
			padding: 0;
			margin: 0;
			height: 100%;
		}

		#myMap {
			position: relative;
			width: 100%;
			height: 100%;
			float: right;
		}

			#myMap .MicrosoftMap {
				position: fixed !important;
				width: 100% !important;
				height: 100% !important;
			}
	</style>
</head>
<body>
	
	<div class="col-sm-12" id="myMap"></div>

	<script>
		
		// Get your own Bing Maps key at https://www.microsoft.com/maps
		(async () => {
			let script = document.createElement("script");
			let bingKey = "Aj9rXw-bikDefDeojiqGwyz0iX1Bh_sb7ksHGl2s-7nAcM4PQQDUXpd9--1qlUWv";
			script.setAttribute("src", `https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=${bingKey}`);
			document.body.appendChild(script);
		})();
	</script>
</body>
</html>